*, *::before, *::after{
    font-family: sans-serif;
    font-size: 10px;
}
body{
    background: rgba(216, 212, 252, 0.4);
}
h4
{
    
    margin-top: 5%;
    color: #221717;
    font-size: 50px;
    text-align: center;
    font-family: 'persienne', cursive;
    font-weight: bold;
    text-shadow: -2px -2px 10px #8c80b9;

}
.layout
{
    margin: auto;
    width: 350px;
    height: 540px;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 15px rgb(138, 146, 231);
}
.calculator
{
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}
.calculator > button {
    margin: 6px;
    color: #fff;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}
.span-two
{
    grid-column: span 2;
    height: 90%;
    width: 95%;
    border-radius: 5em;
}
button{
    border-radius: 50%;
    /* border: none; */
    background: linear-gradient(315deg, #7397fc, rgb(192,207,255));
    box-shadow: 2px 2px 6px #8caff0;
    border-width: 10px;
    border-color:  #7397fc;
    
}
button:active
{
    background: linear-gradient(315deg, rgb(76, 0, 255),#738cfc);
}
.output
{
    grid-column: 1/ -1;
    background-color: linear-gradient(315deg, #7397fc, rgb(192,207,255))    ;
    box-shadow: inset -2px -2px 10px #bfa9f3;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 20px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 35px 0 30px 0;
}
.output .previous
{
    color: rgb(255, 255, 255, .7);
    font-size: 20px;
    margin-top: 10px;
    
}
.output .current
{
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    
}